.container {
    max-width: 1325px;
    margin: 0 auto;
    padding: 0 15px;
}

.mobile{
    display: none;
}

.hide{
    display: none;
}

.to-up {
    position: fixed;
    bottom: 28px;
    right: 28px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid black;
    z-index: 99;
    cursor: pointer;
    color: black;
    font-size: 32px;
    align-items: flex-end;
    text-align: center;
    padding-top: 6px;
    display: none;

    @media (max-width: 575px) {
        visibility: hidden;
    }

    &:hover{
        background-color: black;
        color:white;
        border: 2px solid white;
    }
}