@import "nullstyle.scss";

body{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

@import"section.scss";


// HEADER---------->

@import"header.scss";



// INTRO---------->

@import"intro.scss";



// OFFER---------->

@import"offer.scss";



// BENEFITS---------->

@import"benefits.scss";



// STAGES---------->

@import"stages.scss";



// COMPANIES---------->

@import"companies.scss";



// HUB---------->

@import"hub.scss";



// SWITCH---------->

@import"switch.scss";



// FOOTER---------->

@import"footer.scss";




@import"adaptive.scss";








































// ==============MEDIA===============

