@import "nullstyle.scss";

body{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.container {
    max-width: 1325px;
    margin: 0 auto;
    padding: 0 15px;
}

.mobile{
    display: none;
}

.hide{
    display: none;
}

// =============HEADER==============

.header {

    &__wrap {
        position: relative;
        display: flex;
        padding:27px 0 63px 0;
        align-items: center;
        @media (max-width: 1199px) {
            flex-wrap: wrap;
        }
    }

    &__logo {
        margin: 0 auto 0 0;
        padding-right: 20px;
        order:-2;
    }

    &__nav {
        @media (max-width: 1199px) {
            order: 3;
            margin: 40px auto 0 auto;
        }
        @media (max-width: 767px){
            display: none;
        }
    }

    &__nav-list {
        display: flex;
        margin-right: 27px;
    }

    &__nav-item {
        margin-right: 22px;
        
        &:last-child{
            margin-right: 0;
        }
        @media (max-width: 1199px) {
            min-width: 120px;
            text-align: center;
            margin-right: 0;
        }
    }

    &__nav-link {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 16px;
        color: #000000;

        &:hover{
            color: rgb(158, 158, 158);
        }
        &:active{
            color: rgb(212, 212, 212);
        }
    }

    &__buttons {
        @media (max-width: 1199px) {
            display: flex;
            align-items: center;
            text-align: center;
            margin:0 0 0 auto;
            order:-1;
        }
        @media (max-width: 767px){
            display: none;
        }
    }

    &__btn-log-in {
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 100px;

        margin-right: 18px;
        padding: 12px 24px;

        &:hover{
            box-shadow: 0 0 2px 1px grey;
        }
        @media (max-width: 991px){
            font-size: 14px;
            line-height: 19px;
            padding: 8px 16px;
        }
    }

    &__btn-talk {
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;
        padding: 12px 24px;

        background: #000000;
        border-radius: 100px;
        &:hover{
            box-shadow: 0 0 2px 1px grey;
        }
        @media (max-width: 991px){
            font-size: 14px;
            line-height: 19px;
            padding: 8px 16px;
        }
    }
}


// --------------INTRO-------------

.intro {

    margin-bottom: 54px;

    &__wrap{
        display: flex;
        justify-content: space-between;
    }

    &__content {
        max-width: 483px;
    }

    &__title {
        font-weight: bold;
        font-size: 77px;
        line-height: 83px;
        
        margin:28px 0 27px 0;
        @media (max-width: 575px){
            font-size: 48px;
            line-height: 48px;
        }
    }

    &__subtitle {
        font-size: 20px;
        line-height: 31px;

        margin-bottom: 79px;
    }

    &__text {
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;

        margin-bottom: 27px;
    }

    &__btn {
        font-weight: bold;
        font-size: 22px;
        line-height: 25px;
        color: #FFFFFF;

        padding: 18px 30px;
        margin-bottom: 72px;

        background: #000000;
        border-radius: 100px;

        &:hover{
            box-shadow: 0 0 3px 1px black;
        }
    }
 
    &__pic{
        height: auto;
        max-width: 100%;
        @media (max-width: 991px){
            display: none;
        }
    }
}

// ===============OFFER===============

.offer {

    margin-bottom: 99px;

    &__wrap {
        display: flex;
        justify-content: space-between;
        @media (max-width: 991px){
            display: block;
        }
    }

    &__pic {
        height: auto;
        max-width: 100%;
        @media (max-width: 991px){
            display: none;
        }
        
        margin-top: 84px;
    }

    &__content {
        max-width: 563px;
    }

    &__title {
        font-weight: bold;
        font-size: 57px;
        line-height: 58px;

        margin: 52px 0 36px 0;
        @media (max-width: 575px){
            font-size: 48px;
            line-height: 48px;
        }
    }

    &__subtitle {
        font-size: 20px;
        line-height: 31px;
        max-width: 510px;
        margin-bottom: 126px;
    }
}


// =============BENEFITS=============

.benefits {

    &__title {
        font-weight: bold;
        font-size: 58px;
        line-height: 58px;

        padding: 34px 0 82px 0;

        @media (max-width: 767px){
            font-size: 48px;
            line-height: 48px;
            text-align: center;
            padding-bottom: 40px;
        }
    }

    &__cards {
        display: flex;
        margin-bottom: 54px;
        @media (max-width: 767px){
            display: flex;
            flex-direction: column;
        }
    }

    &__card {
        margin-right: 54px;
        &:last-child{
            margin-right: 0;
        }
        @media (max-width: 767px){
            margin-bottom: 54px;
        }
    }

    &__pic{
        max-width: 100%;
        height: auto;

        margin-bottom: 24px;
    }

    &__card-title {
        font-weight: bold;
        font-size: 28px;
        line-height: 36px;

        margin-bottom: 10px;
    }

    &__card-subtitle {
        font-size: 18px;
        line-height: 24px;

        max-width: 295px;
    }

    &__btn{
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #000000;

        padding: 12px 30px;

        background: #F7B2B7;
        border-radius: 100px;

        &:hover{
            box-shadow: 0 0 3px 1px #F7B2B7;
        }
        margin-bottom: 126px;

        @media (max-width: 767px){
            display: block;
            margin: 0 auto 126px auto;
        }
    }
}


// ============STAGES==========

.stages {

    background-color: #FDECED;
    margin-bottom: 36px;

    &__title {
        font-weight: normal;
        font-size: 58px;
        line-height: 58px;

        padding: 88px 0 82px 0;
        @media (max-width: 767px){
            font-size: 48px;
            line-height: 48px;
            text-align: center;
            padding-bottom: 40px;
        }
    }

    &__cards {
        display: flex;
        padding-bottom: 54px;
        @media (max-width: 767px){
            display: flex;
            flex-direction: column;
        }
    }

    &__card {
        margin-right: 54px;
        &:last-child{
            margin-right: 0;
        }
        @media (max-width: 767px){
            margin-bottom: 54px;
        }
    }

    &__pic {
        max-width: 100%;
        height: auto;

        margin-bottom: 24px;
    }

    &__card-title {
        font-weight: bold;
        font-size: 28px;
        line-height: 36px;

        margin-bottom: 10px;
    }

    &__card-subtitle {
        font-size: 18px;
        line-height: 24px;

        max-width: 308px;
    }
}

// ==============COMPANIES============

.companies {

    margin-bottom: 36px;

    &__wrap {
        display: flex;
        justify-content: space-between;
        padding: 72px 0 90px 0 ;
        @media (max-width: 991px){
            display: block;
            text-align: center;
        }
    }

    &__title {
        font-size: 27px;
        line-height: 36px;
        @media (max-width: 991px){
            margin-bottom: 40px;
        }
    }

    &__logo-wrap {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 33px 36px;


        @media (max-width: 767px){
           display: flex;
           flex-wrap: wrap;
           justify-content: center;
        }
    }

    &__logo-link {
        &:hover{
            transform: scale(1.3);
            transition: 0.3s;
        }
    }
}

// =================HUB=================

.hub {

    &__wrap {
        display: flex;
        justify-content: space-between;
    }

    &__content{
        margin: 193px 0 157px 0;
        max-width:564px ;
        @media (max-width: 575px){
            text-align: center;
        }
    }

    &__title {
        font-weight: bold;
        font-size: 58px;
        line-height: 58px;

        margin-bottom: 40px;
    }

    &__text {
        font-weight: normal;
        font-size: 20px;
        line-height: 31px;

        margin-bottom: 79px;
    }

    &__btn {
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #000000;

        padding: 12px 30px;
        margin-bottom: 157px;

        background: #F7B2B7;
        border-radius: 100px;

        &:hover{
            box-shadow: 0 0 2px 1px grey;
        }
    }

    &__pic {
        max-width: 100%;
        height: auto;

        margin-top: 108px;
        @media (max-width: 1199px){
            margin-top: 130px;
        }

        @media (max-width: 991px){
            margin-top: 200px;

        }

        @media (max-width: 767px){
            display: none;
        }
    }
}

// ========SWITCH=========

.switch {

    padding:108px 0;

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #8BD4D6;
        border-radius: 10px;
        padding:90px 90px;
        @media (max-width: 767px){
            padding: 45px;
        }
    }

    &__title {
        font-weight: bold;
        font-size: 46px;
        line-height: 56px;

        margin-bottom: 18px;
        @media (max-width: 767px){
            font-size: 30px;
            line-height: 34px;
        }
    }

    &__subtitle {
        font-size: 20px;
        line-height: 31px;
        @media (max-width: 767px){
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__btn {
        display: inline;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;

        padding: 12px 30px;

        background: #000000;
        border-radius: 100px;
        white-space: nowrap;
        &:hover{
            box-shadow: 0 0 2px 1px grey;
        }
        @media (max-width: 767px){
            font-size: 12px;
            line-height: 14px;
        }
    }
}

// ===========FOOTER==========

.footer {

    background: #302E3F;
    border-radius: 0px;
    padding:45px 0;

    color:#ffffff;

    &__wrap {
        color:#ffffff;
    }

    &__logo-wrap {
        display: flex;
        align-items: center;
        margin-bottom: 45px;
    }

    &__logo {
        margin-right: 18px;
    }

    &__title {
        font-size: 28px;
        line-height: 36px;
    }

    &__nav {
        display: flex;
        padding-bottom: 45px;
        margin-bottom: 36px;
    }

    &__nav-list {
        width: 204px;
        margin-right: 36px;
        &:first-child{
            margin-right: 18px;
        }
        &:last-child{
            margin-right: 0;
        }

        @media (max-width: 767px){
            display: none;
        }
    }

    &__nav-item {
        margin-bottom: 8px;
    }

    &__nav-title {
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;

        margin-bottom: 14px;
    }

    &__nav-link {
        font-size: 16px;
        line-height: 16px;
        color: #C5E9EA;

        &:hover{
            color: #8BD4D6;
        }
        &:active{
            color: black;
        }
    }

    &__contacts-title {
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;

        margin-bottom: 13px;
    }

    &__contacts-item{
        margin-bottom: 8px;
    }

    &__contacts-link {
        font-size: 16px;
        line-height: 22px;
        color: #C5E9EA;

        &:hover{
            color: #8BD4D6;
        }
        &:active{
            color: black;
        }
    }

    &__copy {
        display: flex;
        align-items: flex-end;
        @media (max-width: 575px){
            padding-top: 30px;
        }
    }

    &__copy-link {
        font-size: 12px;
        line-height: 24px;
        color: #C5E9EA;

        margin-right: 27px;
        &:last-child{
            margin-right: auto;
        }

        &:hover{
            color: #8BD4D6;
        }
        &:active{
            color: black;
        }
    }

    &__copy-link-logo {
        margin: 0 0 0 auto;
    }
}





































// ==============MEDIA===============

@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
}
@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
}
@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }

    // -------mobile-menu(hide)-----------

    .mobile {

        display: block;
    }

    .mobile div{
        display: block;
        position:fixed;
        top:27px;
        right:15px;
        z-index:99;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
        box-sizing: content-box;
        cursor: pointer;
        width: 50px;
        height: 50px;
        border:4px solid black;
        border-radius: 10%;
        background-color: white;

    }

    .mobile div span{
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 30px;
        height: 4px;
        background-color: black;
        border-radius: 13px;
        transition-duration: .4s;
    }

    .mobile div span:nth-child(1) {
        top: 14px;
    }
    .mobile div span:nth-child(2) {
        top: 23px;
    }
    .mobile div span:nth-child(3) {
        bottom: 14px;
    }
    .mobile div.active span:nth-child(1) {
        transform: translate(-15px, 9px) rotate(-45deg);
    }
    .mobile div.active span:nth-child(2) {
        transition-duration: 0s;
        opacity: 0;
    }
    .mobile div.active span:nth-child(3) {
        transform: translate(-15px, -9px) rotate(45deg);
    }

    .mobile nav{
        display: block;
        position: fixed;
        top:27px;
        right:15px;
        height: 50px;
        width: 50px;
        border-radius: 10%;
        z-index: 90;
        transition-duration: .4s;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .mobile nav.open {
        background-color: rgba(0, 0, 0, 0.8);
        width: 100vw;
        height: 100vh;
        right: 0px;
        top: 0px;
        border-radius: 0;
    }
    
    .mobile nav ul {
        display: none;
    }

    .mobile nav ul.show {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    

    .mobile ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        width: 100%;
        opacity: 0;
        animation-name: fadein;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    .mobile ul li:not(:last-child) {
        margin-bottom: 22px;
    }

    .mobile ul li a {
        font-size: 36px;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        text-decoration: none;
        color: #fff;
        padding: 15px 0;

        &:hover{
            transform: scale(1.3);
            transition: 0.3s;
        }
    }
    @keyframes fadein {
        0% {
            opacity: 0;
             
        }
        100% {
            opacity: 1;
        }
    }

    .btn-hide{
        display: inline-block;
        margin:0 auto 10px auto;
        font-size: 22px;
        line-height: 26px ;
        padding: 15px 30px ;
        
    }

    // -------mobile-menu-end(hide)------- 

    // -----------mobile-footer(hide)---------

    .hide {

        height: 100%;
        display: block;

        &__list {
            padding:15px;
        }

        &__title {
            position: relative;
            padding-left: 30px;
            cursor: pointer;
            width:100%;

            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
            color: #FFFFFF;

            &::before,
            &::after{
                content: '';
                position: absolute;
                top:10px;
                width: 10px;
                height: 2px;
                background-color: white;
                transition: all 0.5s ease 0s;
            }

            &::before{

                transform: rotate(40deg);
                left:0;
            }
            &::after{

                transform: rotate(-40deg);
                left:7px;
            }

            &.active {
                &::before,
                &::after {
                    background-color: #8BD4D6;
                }

                &::before{
                    transform: rotate(-40deg);
                }
                &::after{
                    transform: rotate(40deg);
                }
            }
        }

        &__text{
            display: inline-block;
            padding-top: 20px;
            display: none;
            position: relative;
        }
        

        &__item {
            padding: 15px 0;
        }

        &__link {
            display: block;
            position: absolute;
            left:40px;

            white-space: nowrap;

            font-size: 16px;
            line-height: 16px;
            color: #C5E9EA;

            &:hover{
                color: #8BD4D6;
            }
            &:active{
                color: black;
            }
        }
    }
}
// -----------mobile-footer-end(hide)---------

@media (max-width: 575px) {
    .container {
        max-width: 100%;
    }
}